@use '../abstracts' as *;

.button {
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 1.125em 2em;
  font-weight: $fw-700;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 275ms ease, color 275ms ease;


  &[data-type="accent"] {
    background-color: $color-accent-400;
    color: $color-primary-800;
  }

  &[data-type="outline"] {
    --outline-size: 5px;

    outline: var(--outline-size) solid $color-neutral-100;
    outline-offset: calc(var(--outline-size) * -1);
    background: transparent;
    color: $color-neutral-100;
  }

  &:is(:hover, :focus) {
    background-color: $color-neutral-100;
    color: $color-primary-800;
  }
}
